<!DOCTYPE html>
<html>
 <head>
  <title>django bookmark | {% block title %}{% endblock %}</title>
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
  <link rel="stylesheet" href="/site_media/style.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
 {% block external %}{% endblock %}
 </head>
 <body>
  <div id="nav">
   <a href="/">Home</a> |
   {% if user.is_authenticated %}
    <a href="/save/">add Bookmark</a> |
    <a gref="/search/">search</a> |
    Hello, {{ user.username }}
    (<a href="/logout">Logout</a>)
   {% else %}
    <a href="/login/">Login</a>
    <a href="/register/">Join</a> 
   {% endif %}
  </div>

  <h1>{% block head %}{% endblock %}</h1>
  {% block content %}{% endblock %}
 </body>
</html>
