{% extends "base.html" %}
{% block head %}user login{% endblock %}
{% block title %}user login{% endblock %}
{% block content %}
  <h1>user login</h1>
  {% if form.has_errors %}
   <p>retry</p>
  {% endif %}
  <form action="." method="post"><p><label for="id_username">user name:</label>{{ form.username }}</p>
   <p><label for="id_password">password:</label>{{ form.password }}</p>
   <input type="hidden" name="next" value="/" />
   <input type="submit" value="login" />
   {% csrf_token %}
  </form>
{% endblock %}
